* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.1em;
}

h1, h2 {
    color: #efe869;
}

a {
    color: #333;
    transition: 0.3s;
}

.header {
    background-color: #6667ab;
    border-radius: 20px;
    margin: 0 20px;
}

.container {
    background-color: #a2a2ada7;
    max-width: 1110px;
    color: #FFFDD0;
    margin: 0 auto;
    padding: 20px 0;
}

.header-info {
    display: flex;
    padding-top: 50px;
    border-radius: 50%;
    justify-content: center;
    padding-bottom: 25px;
}

.header-info__photo {
    width: 200px;
    border-radius: 50%;
}

.header-info__title {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 15px;
  }

  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .main-skills,
  .main-info {
    min-height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }

  .main-info {
    min-height: 300px;
  }

  .main-skills__skills,
  .main-info__education,
  .main-skills__other,
  .main-info__exp,
  .main-skills__works {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
    background-color: #6667ab;
    border-radius: 20px;
    transition: 0.3s;
  }

  .main-skills--hover:hover {
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
    opacity: 0.9;
    background-color: #9192a99c;
  }

.main-info {
    padding: 20px;
}
  
.footer {
    background-color: #6667ab;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 40px;
    text-align: center;
    background-color: #6667ab;
    border-radius: 20px;
    margin: 0 20px;
}

.footer-img {
    width: 20px;
    height: 20px;
}

.footer a {
    font-size: 10px;
}

.footer a:hover {
    color: #9192a99c;
}

@media (max-width: 767px) {
    .main {
        grid-template-columns: 1fr;
    }
}